# Include markdown (docs) as detectable language
*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true
docs/* linguist-documentation=false

# Include maven files as detectable language
*.xml linguist-detectable

# Include entity-files as detectable language
*.yml linguist-detectable

# Include SQL files as detectable language
*.sql linguist-detectable
